
.logo1{
    float: left;
    width: 110px;
height: 70px;
margin-left: 294px;
margin-top: 14px;
}
.logo{
    color: #0198CF;
    float: left;
    margin-top: 26px;
    margin-left: 32px;
    font-family: 'Roboto Condensed', sans-serif;
}
.search{
    float: left;
    position: relative;
    border-radius: 99px;
    margin-left: 559px;
    margin-top: 26px;
}
.form{
    Width :229px;
Height :45px;
Top :28px;

 border-radius :99px;
}
.searchicon{
    position: absolute;
    top: 10px;
    right: 10px;
}
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}


input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px right;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 229px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
 
  background-color: #fff;
  border-color: #66CC75;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}
/* nav */

  
  .topnav {
    overflow: hidden;
   background-color: #0198CF;
   margin-top: 100px !important;
  
  }
  .nav{
      margin-left: 250px;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px;
   margin-left: 30px;
   
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif
  }
  
 
  
 
  
  .topnav .icon {
    display: none;
    z-index: 999999;
    position: absolute;
    left: 80%;
   color: black;
   padding-top: 10px !important;
    top: 12%;
    width: 45px;
    height: 45px;
  
   
}
  header{
    position: relative;
  }
  @media screen and (max-width: 999px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      display: block;
    }
    .topnav a {
      display: none;
     

     }
  }
  
  @media screen and (max-width: 999px) {
    
    .topnav.responsive .icon {
      position: absolute;
      border: none;
      left: 86%;
      top: 4%;
    }
    .topnav.responsive a {
      width: 110% !important;
     
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive a {
      border-bottom: 1px solid red;
      float: none;
      display: block;
      margin-left: -10px !important;
      padding-left: 25px !important;
      
    }
}
/* end nav */
.card{
  padding-left: 43px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.the{
    width: 500px;
    height: 122px;
  
    
}
.text{

    width: 500px;
    height: 50px;
    background-color: #EE2F72;
}
.text2{
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.705);
}
.chu{
  width: 60px;
  height: 95px;
}
.icon{
  width: 48px;
  height: 48px;
  
  margin-left: 80%;
  
}
.cha{
  margin-top: 48px;
  position: relative;
}
.lo{
 position: absolute;
 bottom: 9%;
 right: 9%;
}
.a{
position: relative;
}
.trai{
 width: 40%;
 margin-top: 132px;
}
.b{
  position: absolute;
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 13px;
  top: 190px;
  left: 12px;

  width: 390px;

background-color: #FFFFFF;
}
.duoi{margin-right: -13px;
  margin-left: -13px;
  width: 107%;
  
}
.tt{
  background-color: 
  #F1F7FA;
  padding-bottom: 100px;
}
.tieu{
 
   font-size: 16px;
   line-height: 23px;
   color: #E11B51;
}
.h{
  background-color: #0198CF !important; border-radius: 55px; border-color: #0198CF ; margin-top: 189px;
margin-left: 884px;
}
.texts{
  text-align: center; font-family: 'Roboto Condensed', sans-serif; padding-top: 51px; color: black;font-weight: bold;
     font-size: 36px;
     line-height: 42px;
     text-transform: uppercase;
}
.texts1{
  text-align: center; font-family: 'Roboto Condensed', sans-serif; padding-top: -5px; color: black;font-weight: bold;
     font-size: 36px;
     line-height: 42px;
     text-transform: uppercase;
}
.dt{
  box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
  width: 100%;
height: 205px;
background-color: #FFFFFF;
padding-left: 19px;
padding-top: 25px;
margin-top: 20px;

}
.dt1{
  box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
  width: 100%;
height: 205px;
background-color: #FFFFFF;
padding-left: 50px;
padding-top: 75px;
margin-left: 250px;
margin-top: 20px;

}
.dt11{
  box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
  width: 100%;
height: 205px;
background-color: #FFFFFF;
padding-left: 80px;
padding-top: 35px;
margin-left: 250px;
margin-top: 20px;

}
.o1{
  box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
  
height: 205px;
background-color: #FFFFFF;
padding-left: 96px;
padding-top: 14px;
}
.doitac img{
width: 90%;
}
.anh1{
  width: 200px !important;
  }
  .anh12{
    width: 150px !important;
    }
footer{
  background-color: #0198CF;
  padding-bottom: 47px;
}
.video{
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
a{
  text-decoration: none;
  color: black;
}
.f1{
  padding-top: 60px;
  padding-bottom: 66px;

}
.f1 h4{
  color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif; ;font-weight: bold;
  padding-top: 30px;
}
.f1 p{
  text-align: justify;
  color: #FFFFFF;
  
}
.ftexxt{
  color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif; ;font-weight: bold;
  padding-top: 60px;
}
.f2 p{
  
  color: #FFFFFF;
padding-top: 10px;
}
.f2 p.map::before{
  content: url(../img/map-pin.png);
 margin-right: 10px;
 
  
}
.f2 p.mail::before{
  content: url(../img/mail.png);
  margin-right: 10px;
 

}
.f2 p.web::before{
  content: url(../img/globe.png);
  margin-right: 10px;
  
}
.tron{
  margin-top: 5px;
  width: 45px;
height: 45px;
border-radius: 50%;
background-color: #FFFFFF;
}
.tron img{
  margin-top: 10px;
  margin-left: 11px;
}
.cha01{
  width: 100%;
 padding-top: 0px;
 height: 60px;
  border-radius: 99px;
  background-color: #EE2F72;;
}
.al{
  margin-top: 22px;
  width: 35px; height: 35px; background-color: #ffff; border-radius: 50%;
}
.al:hover{
  background-color: #EE2F72;
}

/* repon */
@media screen and (max-width:  1200px) {
  .banner{
    Width :100%;
   padding-bottom: 40px;
   height: 500px;

    background-image: url(../img/b1.jpg) !important;
    padding-top: 379px;
}
  .logo1{
      margin-top: 10px !important;
      margin-left: 50px !important;
    
  }
  .logo{
    font-size: 20px !important;
    margin-left: 0px !important;
  }
  .nav{
    margin-left: 10px;
}
.kp{
  margin-left: 250px !important;
}
  .search{
      margin-top: -50px !important;
      
  }
.text2 p{
  font-size: 14px !important;
}
.tieu2{
  font-size: 16px !important;
}
.texts{
  font-size: 27px !important;
}
.texts1{
  font-size: 27px !important;
}
.bp{
  margin-left: 0px!important;
}
  .card{
   
 margin-top: 30px !important;
  }
  
  .topnav a {
     
      padding: 5px !important;
     margin-left: 40px !important;
     
      text-decoration: none;
      font-size: 16px !important;
      font-family: 'Roboto Condensed', sans-serif
    }


   
    .bancobiet{
      width: 100%;
      background-image: url(../img/b22.jpg) !important;
     padding-bottom: 70px;
}

   
   
    .anh09{
      width: 85% !important;
    }
       .trai{
         width: 90% !important;
         margin-left: 20px;
         margin-right: 200px !important;
       }
       .solieu{
         padding-bottom: 40px !important;
       }
       .a{
       
       }
       .h{
         margin-left: 45% !important;
       }
       .b{
        
        padding-top: 20px;
        padding-left: 13px;
        padding-right: 13px;
        top: 100px !important;
        left: 12px;
      
        width: 270px !important;
      
      background-color: #FFFFFF;
      }
      .tieu{
        font-size: 16px !important;
        margin-right: 10px !important;
      }
      .b p{
        font-size: 12px !important;
      }
      .dt{
        box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
        width: 100%;
      height: 205px;
      background-color: #FFFFFF;
      padding-left: 19px;
      padding-top: 50px !important;
      margin-top: 20px;
      
      }
      .dt img{
        width: 90% !important;
      }
      .dt1{
        box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
        width: 100%;
      height: 205px;
      background-color: #FFFFFF;
      padding-left: 20px !important;
      padding-top: 75px;
      margin-left: 100px !important;
      margin-top: 20px;
      
      }
      .dt11{
        box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
        width: 100%;
      height: 205px;
      background-color: #FFFFFF;
      padding-left: 30px !important;
      padding-top: 30px !important;
      margin-left: 100px !important;
      margin-top: 20px;
      
      }
      .dt1 img{
        width: 90% !important;
      }
      .ff{
        padding-left: 0px !important;
      }
      footer{
        padding-bottom: 100px !important;
      }
      .ftexxt{
        font-size: 18px;
      }
      .f1 p{
        font-size: 14px;
        margin-right: 100px;
      }
      .phone1{
        margin-left: -15px !important;
      }
      .cha01{
        width: 85% !important;
      }
      .ml{
        font-size: 18px !important;
        margin-top: 0px !important;
      }
      .cinh{
       margin-left: -75px !important;
      }
}

@media screen and (max-width:  999px) {

  .logo1{
      margin-top: 10px !important;
      margin-left: 50px !important;
    
  }
  .logo{
    font-size: 20px !important;
    margin-left: 0px !important;
  }
  .nav{
    margin-left: 10px;
}
.kp{
  margin-left: 250px !important;
}
  .search{
     display: none;
      
  }
.text2 p{
  font-size: 14px !important;
}
.tieu2{
  font-size: 16px !important;
}
.texts{
  font-size: 27px !important;
}
.texts1{
  font-size: 27px !important;
}
.bp{
  margin-left: 0px!important;
}
  .card{
   
 margin-top: 30px !important;
  }
  .lo{
    right: 50px !important;
  }
  
  .topnav a {
     
      padding: 5px !important;
     margin-left: 40px !important;
     
      text-decoration: none;
      font-size: 16px !important;
      font-family: 'Roboto Condensed', sans-serif
    }


   
    .bancobiet{
      width: 100%;
      background-image: url(../img/b22.jpg) !important;
     padding-bottom: 70px;
}

   .video1{
     height: 250px !important;
   }
   
    .anh09{
      width: 85% !important;
    }
    .chuongtrinh{
      height: 550px !important;
    }
       .trai{
         width: 90% !important;
         margin-left: 20px;
         margin-right: 200px !important;
         margin-top: 0px !important;
       }
       .solieu{
         padding-bottom: 40px !important;
       }
     
       .h{
         margin-left: 45% !important;
       }
       .b{
        
        padding-top: 20px;
        padding-left: 5px !important;
        padding-right: 10px;
        top: 100px !important;
        left: 12px;
      
        width: 190px !important;
      
      background-color: #FFFFFF;
      }
      .tieu{
        font-size: 16px !important;
        margin-right: 10px !important;
      }
      .b p{
        font-size: 12px !important;
      }
      .dt{
        box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
        width: 100%;
      height: 155px;
      background-color: #FFFFFF;
      padding-left: 10px;
      padding-top: 40px !important;
      margin-top: 20px;
      
      }
      .anh12{
        width: 80% !important;
      }
      .dt img{
        width: 90% !important;
      }
      .dt1{
        box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
        width: 100%;
        height: 155px;
      background-color: #FFFFFF;
      padding-left: 10px !important;
      padding-top: 50px !important;
      margin-left: 100px !important;
      margin-top: 20px;
      
      }
      .dt11{
        box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
        width: 100%;
        height: 155px;
      background-color: #FFFFFF;
      padding-left: 20px !important;
      padding-top: 20px !important;
      margin-left: 100px !important;
      margin-top: 20px;
      
      }
      .duoi{
        margin-left: -5px !important;
      }
      .dt1 img{
        width: 80% !important;
      }
      .ff{
        padding-left: 0px !important;
      }
      footer{
        padding-bottom: 100px !important;
      }
      .ftexxt{
        font-size: 18px;
      }
      .f1 p{
        font-size: 14px;
        margin-right: 100px;
      }
      .phone1{
        margin-left: -5px !important;
      }
      .cha01{
        width: 100% !important;
      }
      .ml{
        font-size: 18px !important;
        margin-top: 0px !important;
      }
      .cinh{
       margin-left: -50px !important;
      }
}
@media screen and (max-width:  414px) {

  .logo1{
      margin-top: 10px !important;
      margin-left: 50px !important;
    
  }
  .logo{
    clear: both;
    font-size: 16px !important;
    margin-left: 10px !important;
    margin-top: 4px !important;
  }
  .nav{
    margin-left: 10px;
}
.kp{
  margin-left: 150px !important;
}
  .search{
     display: none;
      
  }
  .topnav .icon {
    display: none;
    z-index: 999999;
    position: absolute;
    left: 66%;
   color: black;
    top: 12%;
    width: 45px;
    height: 45px;
   
}
.fa{
  width: 65px !important;
  height: 65px !important;
}
.text{
  width: 100%  !important;
}
.the{
  margin-top: -40px !important;
}
.text2 p{
  margin-left: 5px !important;
  margin-top: 0px !important;
  width: 60%;
  font-size: 14px !important;
}
.tieu2{
  font-size: 16px !important;
}
.texts{
  font-size: 20px !important;
}
.texts1{
  font-size: 20px !important;
}
.bp{
  margin-left: 0px!important;
}
  .card{
   
 margin-top: 30px !important;
  }
  .lo{
    width: 45px;
    height: 45px;
    right: 40px !important;
  }
  .chuongtrinh{
    height: 700px !important;
  }
  .topnav a {
     
      padding: 5px !important;
     margin-left: 40px !important;
     
      text-decoration: none;
      font-size: 16px !important;
      font-family: 'Roboto Condensed', sans-serif
    }


   
    .bancobiet{
      width: 100%;
      background-image: url(../img/b22.jpg) !important;
     padding-bottom: 70px;
}

   .video1{
     height: 250px !important;
    
   }
   .video{
     margin-top: 20px;
   }
   
    .anh09{
      width: 85% !important;
    }
    .chuongtrinh{
      height: 850px !important;
    }
       .trai{
         width: 90% !important;
         margin-left: 20px;
         margin-right: 200px !important;
         margin-top: 0px !important;
       }
       .solieu{
         padding-bottom: 40px !important;
       }
     
       .h{
         margin-left: 35% !important;
       }
       .b{
        
        padding-top: 20px;
        padding-left: 10px !important;
        padding-right: 10px;
        top: 100px !important;
        left: 25px;
      
        width: 300px !important;
      
      background-color: #FFFFFF;
      }
      .tieu{
        font-size: 16px !important;
        margin-right: 10px !important;
      }
      .b p{
        font-size: 12px !important;
      }
      .a13{
        margin-top: 160px;
      }
      .dt{
        box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
        width: 100%;
      height: 155px;
      background-color: #FFFFFF;
      padding-left: 10px;
      padding-top: 40px !important;
      margin-top: 20px;
      
      }
      .anh12{
        width: 80% !important;
      }
      .dt img{
        width: 90% !important;
      }
      .dt1{
        box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
        width: 100%;
        height: 155px;
      background-color: #FFFFFF;
      padding-left: 10px !important;
      padding-top: 50px !important;
      margin-left: 0px !important;
      margin-top: 20px;
      
      }
      .dt11{
        box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
        width: 100%;
        height: 155px;
      background-color: #FFFFFF;
      padding-left: 20px !important;
      padding-top: 20px !important;
      margin-left: 0px !important;
      margin-top: 20px;
      
      }
      .duoi{
        margin-left: -5px !important;
      }
      .dt1 img{
        width: 80% !important;
      }
      .ff{
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 10px !important;
      }
      .f1{
        padding-bottom: 10px;
      }
      .f2{
        margin-top: -10px !important;
      }
      footer{
        padding-bottom: 100px !important;
      }
      .ftexxt{
        font-size: 18px;
      }
      .f1 p{
        font-size: 14px;
        margin-right: 100px;
      }
      .phone1{
        margin-left: -5px !important;
      }
      .cha01{
        width: 100% !important;
      }
      .ml{
        font-size: 18px !important;
        margin-top: 0px !important;
      }
      .cinh{
       margin-left: -50px !important;
      }
      .topnav.responsive .icon {
        position: absolute;
        border: none;
        left: 80%;
        top: 4%;
      }
}
@media screen and (max-width:  375px) {

  .logo1{
      margin-top: 10px !important;
      margin-left: 50px !important;
    
  }
  .logo{
    clear: both;
    font-size: 16px !important;
    margin-left: 10px !important;
    margin-top: 4px !important;
  }
  .nav{
    margin-left: 10px;
}
.kp{
  margin-left: 80px !important;
}
  .search{
     display: none;
      
  }
  .topnav .icon {
    display: none;
    z-index: 999999;
    position: absolute;
    left: 70%;
   color: black;
    top: 12%;
    width: 45px !important;
    height: 45px !important;
   
}
.text{
  width: 75%  !important;
}
.the{
  margin-top: -40px !important;
}
.text2 p{
  margin-left: 5px !important;
  margin-top: 0px !important;
  width: 60%;
  font-size: 14px !important;
}
.tieu2{
  font-size: 16px !important;
}
.texts{
  font-size: 20px !important;
}
.texts1{
  font-size: 20px !important;
}
.bp{
  margin-left: 0px!important;
}
  .card{
   
 margin-top: 30px !important;
  }
  .lo{
    width: 45px;
    height: 45px;
    right: 40px !important;
  }
  .chuongtrinh{
    height: 700px !important;
  }
  .topnav a {
     
      padding: 5px !important;
     margin-left: 40px !important;
     
      text-decoration: none;
      font-size: 16px !important;
      font-family: 'Roboto Condensed', sans-serif
    }


   
    .bancobiet{
      width: 100%;
      background-image: url(../img/b22.jpg) !important;
     padding-bottom: 70px;
}

   .video1{
     height: 250px !important;
    
   }
   .video{
     margin-top: 20px;
   }
   
    .anh09{
      width: 85% !important;
    }
    .chuongtrinh{
      height: 850px !important;
    }
       .trai{
         width: 90% !important;
         margin-left: 20px;
         margin-right: 200px !important;
         margin-top: 0px !important;
       }
       .solieu{
         padding-bottom: 40px !important;
       }
     
       .h{
         margin-left: 35% !important;
       }
       .b{
        
        padding-top: 20px;
        padding-left: 10px !important;
        padding-right: 10px;
        top: 100px !important;
        left: 25px;
      
        width: 300px !important;
      
      background-color: #FFFFFF;
      }
      .tieu{
        font-size: 16px !important;
        margin-right: 10px !important;
      }
      .b p{
        font-size: 12px !important;
      }
      .a13{
        margin-top: 160px;
      }
      .dt{
        box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
        width: 100%;
      height: 155px;
      background-color: #FFFFFF;
      padding-left: 10px;
      padding-top: 40px !important;
      margin-top: 20px;
      
      }
      .anh12{
        width: 80% !important;
      }
      .dt img{
        width: 90% !important;
      }
      .dt1{
        box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
        width: 100%;
        height: 155px;
      background-color: #FFFFFF;
      padding-left: 10px !important;
      padding-top: 50px !important;
      margin-left: 0px !important;
      margin-top: 20px;
      
      }
      .dt11{
        box-shadow: 1px 1px 10px rgba(88, 86, 88, 0.377),  1px 1px 9px rgba(119, 115, 122, 0.349);
        width: 100%;
        height: 155px;
      background-color: #FFFFFF;
      padding-left: 20px !important;
      padding-top: 20px !important;
      margin-left: 0px !important;
      margin-top: 20px;
      
      }
      .duoi{
        margin-left: -5px !important;
      }
      .dt1 img{
        width: 80% !important;
      }
      .ff{
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 10px !important;
      }
      .f1{
        padding-bottom: 10px;
      }
      .f2{
        margin-top: -10px !important;
      }
      footer{
        padding-bottom: 100px !important;
      }
      .ftexxt{
        font-size: 18px;
      }
      .f1 p{
        font-size: 14px;
        margin-right: 100px;
      }
      .phone1{
        margin-left: -5px !important;
      }
      .cha01{
        width: 100% !important;
      }
      .ml{
        font-size: 18px !important;
        margin-top: 0px !important;
      }
      .cinh{
       margin-left: -50px !important;
      }
      .topnav.responsive .icon {
        position: absolute;
        border: none;
        left: 85%;
        top: 4%;
      }
}